
.btn-margin {
  margin: 7px 3px;
}

.Sidebar {
 height: 100vh;
 background-color:  #edf4ff; 
 overflow: hidden;
}

.AppRoutes {
  height: 100vh; 
  overflow: scroll;
  overflow-x: hidden;
  background-color:  #edf4ff; 
}

.Logo{
 margin-top: 15px;
}

.logo {
  width: 100px;
  height: 25;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  margin-top: 20px;
}

.nav-link {
  color: black;
}

.nav-icon{
  margin-right: 8px;
}


.is-active {
  color: #4f6fff;
}

.nav-link:hover {
  color: #4f6fff;

}

.logout-link:hover{
  color: #4f6fff;
}
  
.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}


.scroll::-webkit-scrollbar-thumb {
   border-radius: 12px;
   background-color: #b7b7b7;
}
